body {
    background: white;
    margin: 0;
}

#container{
    width: 70%;
    height: 100%;
    background-color: rgb(189, 108, 108);
    /* margin-left: 15%;     */
}

#overlay{
    display: none; 
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
  }

  #overlay  #modal{
   
    background-color: #004047;
    border-radius: 15px 15px;
    height: 300px;
  
    max-width: 500px;
    /* height:300px; */
    margin: auto;
    /* background-color: white; */
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /* padding: 0px 0px 0px 0px; */
  }

  nav {
      width: 100%;
      height: 80px;
      background-color: #004047;
      color: white;

  }

  nav a {
      color: white;
  }

  #logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
}

  #logout{
      float: right;
      margin-top: 20px;
      margin-right: 20px;
      text-decoration: none;
  }

  #search_section{
      width: 100%;
      height: 80px;
      margin-top: 50px;
      margin-left: 209px;
      margin-bottom: 150px;
  }

  #search_input{
      width: 600px;
      height: 30px;
      border-radius: 30px;
      margin-top: 20px;
      margin-left: 300px;
      padding-left: 20px;
      font-size: 20px;
      
  }

  #search_btn{
      width: 150px;
      height: 40px;
      border-radius: 30px;
      font-size: 20px;
      background-color: #004047;
      color: white;
  }
  
  /* #search_section{
      height: 100px;
      margin-bottom: 20px;
  } */

  #show_modal_btn{
    display: none;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 400px;
    margin-bottom: 20px;
    background-color: #004047;
    color:white;

  }

  #upload_form{
      width: 400px;
      height: 200px;
      /* background-color: white; */
      margin-left: 50px;
      margin-top: 30px;
  }

  #title{
      width: 375px;
      height: 40px;
      border-radius: 20px;
      font-size: 20px;
      margin-bottom: 20px;
      padding-left: 20px;
  }

  #description{
    width: 375px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 20px;
      padding-left: 20px;
}

#upload_btn{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 60px;
}

#cancel_btn{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 60px;
}

#file{
    width: 400px;
    margin-bottom: 40px;
    /* height: 8zz0px; */
    /* border-radius: 20px; */
}

.grid{
    width: 1200px;
    height: 100px;
    /* background-color: green; */
    margin-left: 350px;
}

#grid_header{
    width: 1200px;
    height: 0px;
    /* background-color: green; */
    margin-left: 350px;
}

#action_header{
    width: 200px;
    height: 30px;
    /* background-color: red; */
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    border-top: 2px solid #012F34;
    border-left: 2px solid #012F34;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;
}

/* #email_header{
    width: 100px;
    height: 30px;
    background-color: red;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    border-right: 3px solid #012F34;
    border-top: 2px solid #012F34;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;

} */

#title_header{
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    border-right: 3px solid #012F34;
    border-top: 2px solid #012F34;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;
}

#file_name_header{
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    border-right: 3px solid #012F34;
    border-top: 2px solid #012F34;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;
}

#description_header{
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    border-right: 3px solid #012F34;
    border-top: 2px solid #012F34;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;

}

.action_field{
    width: 200px;
    height: 30px;
    /* font-size: 20px; */
    /* padding-left: 10px; */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;


    float: left;
    border-left: 2px solid #012F34;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;

}

.action_field :hover{
    color: red;
    cursor: pointer;
}




.title_field{
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;
}

.file_name_field{
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;
    /* color: red; */
}

.file_name_field :hover{
    cursor: pointer;
    color: red;
}

.description_field{
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    border-bottom: 2px solid #012F34;
    border-right: 2px solid #012F34;
}

.download_btn{
    height: 30px;
    width: 90px;
    font-size: 20px;
    /* border-radius: 20px; */
    color: #004047;
    float: left;
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 4px;

}

.send_email{
    height: 30px;
    width: 60px;
    font-size: 20px;
    /* border-radius: 20px; */
    color: #004047;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    /* background-color: blue; */

}

footer {
    width: 100%;
    height: 80px;
    background-color: #004047;
    color: white;
    bottom: 0px;
    position: fixed;

}