<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Server</title>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <link rel="stylesheet" href="../css/resetpassword.css">
    </head>
    <body>
        <div id="reset_password_div">
            <form id="reset_password_form" action="">
                
                <div id="new_password_div">
                    <input type="text" id="new_password" name="new_password" placeholder="Password"  >
                </div>
                <div id="confirm_password_div">
                    <input type="text" id="confirm_password" name="confirm_password" placeholder="Confirm Password"  >
                </div>
                <div id="reset_password_btn_div">
                    <button type="submit" id="reset_password_btn" name="reset_password_btn">Save</button>
                </div>
            </form>
            <!-- <a id="login_link" href="http://127.0.0.1:5501/index.html">Go back to Login</a>
            <button id="sign_up">SIGN UP</button> -->
        </div>
        
    </body>
    <script src = "../scripts/resetpassword.js"></script>
</html> 